<!DOCTYPE html>
<html>
    <head>
        <title>Logar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>      
        
<form method="POST" action="../Controller/controller_logar.php">
<br><br>
<label>Email:</label><input type="email" name="email"><br><br>
<label>Senha:</label><input type="password" name="senha"><br><br>
<input type="submit" value="Logar" name="botao">
        </form> <br><br>
      
        <form action="frm_cadastrar.html">
<input type="submit" value="Voltar"><br>
</form>
    </body>
</html>
