<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="css/estilo_index.css">   
    <title>Principal</title>
</head>
<body>
    
    <div class="header">
        <h1>Portal do Usuário para Livros</h1>
      </div>
      
      <div class="row">
        <div class="col-3 col-s-3 menu">
          <ul>
            <li>Leitura</li>
            <li>Escrita</li>            
          </ul>
        </div>
      
        <div class="col-6 col-s-9">
          <h1>Por Trás de Seus Olhos: O Livro Que Originou a Série da Netflix</h1>
          <p>Louise trabalha como secretária e está presa à rotina da vida moderna: ir para o escritório, cuidar da casa, do filho e tentar descansar no tempo livre. Em uma rara saída à noite, ela conhece um homem no bar e se deixa envolver. Embora ele parta logo depois de um beijo, Louise fica muito animada por ter encontrado alguém..</p>
        </div>
      
        <div class="col-3 col-s-12">
          <div class="aside">
            <h2>Escrita</h2>
            <p><a href="frm_cadastro.html">Cadastra-se e escreva seu próprio trecho.</p></a>
            
            <h2>Leitura</h2>
            <p><a href="frm_logar.html">Acesse e leia os trechos escritos.</p></a>            
          </div>
        </div>
      </div>
     
      <div class="footer">
        <p>@copy direito reservado</p>
      </div>
    
</body>
</html>