<!DOCTYPE html>
<html>
    <head>
        <title>Cadastrar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>      
        
<form method="POST" action="../controller/controller_cadastrar_usuario.php">
<br><br>
<label>Email:</label><input type="email" name="email"><br><br>
<label>Nome:</label><input type="text" name="nome"><br><br>
<label>Endereço</label><input type="text" name="endereco"><br><br>
<label>Telefone:</label><input type="tel" name="telefone"><br><br>
<label>Senha:</label><input type="password" name="senha"><br><br>
<input type="submit" value="Cadastrar" name="botao">
        </form> <br><br>
<form action="frm_logar.html">
<input type="submit" value="Voltar"><br>
</form>
        
        
    </body>
</html>
